<p id="notice"><%= notice %></p>

<p>
  <strong>Nome instrumento:</strong>
  <%= @instrumento.nome_instrumento %>
</p>

<%= link_to 'Edit', edit_instrumento_path(@instrumento) %> |
<%= link_to 'Back', instrumentos_path %>
