<title>Indice | Stage</title>
<h1 class="current-category"><%= params[:category] %></h1>

<% if @plays.count == 0 %>
  <h3>Ainda não há artistas nesse estilo</h3>
<% else %>
  <div class="row">
    <% @plays.each do |play| %>
      <div class="col-md-3">
        <a href="/plays/<%= play.id %>">
            <%= image_tag (url_for(play.image_url)), class: "play" %>            
        </a>
      </div>
    <% end %>
  </div>
<% end %>