/*Fontes*/

.titulo-local{
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;
	color: white;
	opacity: 1!important;
	background-color: #ff8000;
}

.subtitulo-local{
	color: white;
	font-family: 'Lexend Deca', sans-serif;
}

.titulo-confirmar-eventos{
	font-family: 'Montserrat', sans-serif;
}

.subtitulo-confirmar-eventos{
	font-family: 'Montserrat', sans-serif;
}

.informacoes-adicionais{
	font-family: 'Lexend Deca', sans-serif;
	font-size: 20pt;
	color: black;
	margin-bottom: 8%;
}

.informacoes-adicionais-texto{
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15pt;
	color: black;
}


/*Estrutura topo*/

.estrutura-confirmar-eventos{
	text-align: center;
}

.estrutura-informacoes-local{
	margin-top: 2%;
	border-radius: 5px;
	padding-top: 3%;
}

.estrutura-confirmar-nome-eventos{
	margin-left: 10%;
	height: 5%;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #ff8000;
	color: white;
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
	border-radius: 10px;
}

.estrutura-slideshow-confirmacao{
	width:100%;
}

.imagem-slideshow-confirmacao{
	object-fit: cover;
	object-position: 0 50%;
	height: 400px;
	width: 100%;
}

.botao-participar{
	width: 100%;
	font-family: 'Lexend Deca', sans-serif!important;
	font-size: 15pt!important;
	color: white!important;
	background-color: #ff8000!important;
	padding-top: 3%!important;
	padding-bottom: 3%!important;
	border-radius: 15px!important;
}

.botao-participar:hover{
	opacity: 0.7;
}

.estrutura-botao-voltar{
	width: 100%;
	text-align: center;
}

.botao-voltar{
	background-color: #ff8001!important;
	font-family: 'Lexend Deca', sans-serif;
	color: white!important;
	width: 20%;
}

.botao-voltar:hover{
	opacity: 0.7;
}