/* Fontes */

.titulo-lista-eventos{
	font-family: 'Montserrat', sans-serif;
}

.subtitulo-lista-eventos{
	font-family: 'Montserrat', sans-serif;
	font-size: 14pt;	
}

/*Lista de eventos começa aqui*/
.estrutura-titulo-eventos{
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

.imagem-lista-eventos{
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.fonte-lista{
	text-align: center;
}

.botao-participar{
	background-color: #ff8001!important;
	font-family: 'Montserrat', sans-serif;
	color: white!important;
}

.botao-participar:hover{
	opacity: 0.7;
}

.estrutura-botao-voltar{
	width: 100%;
	text-align: center;
}

.botao-voltar{
	background-color: #ff8001!important;
	font-family: 'Montserrat', sans-serif;
	color: white!important;
	width: 20%;
}

.botao-voltar:hover{
	background-color: #ff8001!important;
	font-family: 'Montserrat', sans-serif;
	color: white!important;
}