<p id="notice"><%= notice %></p>

<p>
  <strong>Avaliacao texto:</strong>
  <%= @avaliacao.avaliacao_texto %>
</p>

<%= link_to 'Edit', edit_avaliacao_path(@avaliacao) %> |
<%= link_to 'Back', avaliacaos_path %>
