<h1>Editing Tipo Estabelecimento</h1>

<%= render 'form', tipo_estabelecimento: @tipo_estabelecimento %>

<%= link_to 'Show', @tipo_estabelecimento %> |
<%= link_to 'Back', tipo_estabelecimentos_path %>
