<p id="notice"><%= notice %></p>

<p>
  <strong>Nome tipo:</strong>
  <%= @tipo_estabelecimento.nome_tipo %>
</p>

<%= link_to 'Edit', edit_tipo_estabelecimento_path(@tipo_estabelecimento) %> |
<%= link_to 'Back', tipo_estabelecimentos_path %>
