<%= simple_form_for ([@play, @play.reviews.build]) do |f| %>
  <div id="rating-form">
    <label> Avaliação </label>
  </div>
  <%= f.input :comment, label: "Comentário" %>
  <%= f.button :submit, "Enviar Avaliação", :class => "btn-custom2" %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>