<div class="col-md-10 col-md-offset-1">
  <div class="edit-review-form">
    <h1> Editar Avaliação </h1>
      <%= simple_form_for ([@play, @review]) do |f| %>
        <div id="rating-form">
          <label> Avaliação </label>
        </div>
        <%= f.input :comment, label:"Comentário" %>
        <%= f.button :submit, "Atualizar Avaliação", :class => "btn-custom2" %>
      <% end %>
  </div>
</div>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>